<html lang="KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='{{url_for("static", filename="onboarding/login.js")}}'></script>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
</head>
<body>
    <script>        
        $(document).ready(function () {
            $('#loginBtn').click(function(){ submitUserData() });
        });

    </script>

    <form method="post" class="signUp">
        {% for item in CONFIG %}
        
            {% set style = 'Vertical' %}
            {% set item = item %}
            {% set errorMessage = errorMessage %}
            {% include 'components/inputBox.html' %}

        {% endfor %}

        {% if errorMessage %}
            <p class='caution'>
                {{ errorMessage }}
            </p>
        {% endif %}

        {% set BTN_CONFIG = BTN_CONFIG %}     
        {% include 'components/button.html' %}
    </form>
    <button class="compBtn" onclick="location.href='/signup'">회원 가입</button>
</body>
</html>