<!DOCTYPE html>
<html lang="KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src='{{url_for("static", filename="onboarding/signUp.js")}}'></script>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>

</head>
<body>
    <script>
        let hasChecked = false;
        
        $(document).ready(function () {
            $('input[name=studentNo]').change(
            function() {
                hasChecked = false;
            }
        )
        
            $('#signUpBtn').prop('disabled', true)
        });

    </script>

    <form method="post" class="signUp">
        {% for item in CONFIG %}
        
            {% set style = 'Vertical' %}
            {% set item = item %}
            {% set dupCheckFunc = 'dupCheckFunc(hasChecked)' %}
            {% set errorMessage = errorMessage %}
            {% include 'components/inputBox.html' %}

        {% endfor %}

        {% set BTN_CONFIG = BTN_CONFIG %}     
        {% set onclickHandler = 'submitUserData(hasChecked)' %}        
        {% include 'components/button.html' %}
    </form>

</body>
</html>