<!DOCTYPE html>
<html lang="KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='{{url_for("static", filename="logIn/signUp.js")}}'></script>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>

</head>
<body>
    <form method="post" class="signUp">
        {% for item in CONFIG %}
        
            {% set style = 'Vertical' %}
            {% set item = item %}
            {% set errorMessage = errorMessage %}
            {% include 'components/inputBox.html' %}

        {% endfor %}

        <button type="submit">회원가입</button>
    </form>

</body>
</html>