<!DOCTYPE html>
<html lang="KR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>

    <link
        href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;700&family=Poppins:wght@300;500;700&display=swap"
        rel="stylesheet">

    <script src='{{url_for("static", filename="onboarding/signUp.js")}}'></script>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>

</head>

<body>
    <div class='wrapper'>

        <script>
            $(document).ready(function () {

                $('#dupCheckBtn').prop('type', 'button');
                $('#dupCheckBtn').data('hasChecked', false);
                $('#dupCheckBtn').click(function () { dupCheckFunc() });

                $('#signUpBtn').prop('disabled', true);
                $('#signUpBtn').click(function () { submitUserData() });

                $('input[name=studentNo]').change(function () {
                    $('#dupCheckBtn').data('hasChecked', false);
                })

            });

        </script>
        <div class='logoArea' onclick="location.href='/login'">
            <i class="fa-solid fa-hands-asl-interpreting"></i>
            <span>con-brief</span>
        </div>

        <form method="post" class="wrapper onboarding">
            {% for item in CONFIG %}

            {% set style = 'Vertical' %}
            {% set item = item %}
            {% set errorMessage = errorMessage %}
            {% include 'components/inputBox.html' %}

            {% endfor %}

            {% if errorMessage %}
            <p class='caution'>
                {{ errorMessage }}
            </p>
            {% endif %}

            {% set BTN_CONFIG = BTN_CONFIG %}
            {% include 'components/button.html' %}
        </form>
    </div>

</body>

</html>