# dependencies
/node_modules

# production
#/build

# misc
.DS_Store


# Environments
.venv
env/
.env.local
.env.dev
.env.prod

# etc
.eslintcache
.vscode
.eslintrc
.prettierrc


### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class