<div>
    <div>
        {% set item = result %}
        {% set infoConfig = infoConfig %}
        {% include 'components/infoArea/top/profile.html' %}

        {% for item in infoCofig['rankList'] %}
            {% set style = 'Vertical' %}
            {% set item = item %}
            {% set infoConfig = infoConfig %}
            {% include 'components/infoArea/top/rankLine.html' %}    
        {% endfor %}

        {% include 'components/separator.html' %}
    </div>

    <ul>
        {% for item in result %}
            {% set style = 'Horizontal' %}
            {% set item = item %}
            {% include 'components/infoArea/bottom/infoLine.html' %}    
        {% endfor %}
    </ul>
</div>