<div class='infoArea'>
    <div class='flexVertical flexCenter lastItem'>
        {% set item = result %}
        {% set infoConfig = infoConfig %}
        {% include 'components/infoArea/top/profile.html' %}

        {% if result['friendlyRate'] %}
            {% for keyNlabel in infoConfig['rankList'] %}
                {% set style = 'Vertical' %}
                {% set item = result %}
                {% set infoConfig = infoConfig %}
                {% include 'components/infoArea/top/rankLine.html' %}    
            {% endfor %}
        {% endif %}
    </div>

    {% include 'components/separator.html' %}

    <ul class='flexVertical'>
        {% for keyNlabel in infoConfig['infoList'] %}
            {% set item = result %}
            {% set keyNlabel = keyNlabel %}
            {% include 'components/infoArea/bottom/infoLine.html' %}    
        {% endfor %}
    </ul>
</div>