* {
    box-sizing: border-box;
}

button, textarea, input {
    border: none;
    background-color: transparent;
    outline: none;
}

ul, li {
    list-style: none;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.example {
    opacity: 0.6;
    font-size: 0.85rem;
}

.caution {
    color: pink;
}

.studentName {
    font-size: 23px;
    font-family:'Black Han Sans' ;
}

.introText {
    font-size: 20px;
    font-family:'Black Han Sans' ;
}

.separatorLine {
    width: 90%;
    border-bottom: solid 1px gray;
}

.compBtn {
    border-radius: 6px;
    background-color: lightblue;
    padding: 10px;

    cursor: pointer;

    &:disabled {
        cursor: default;
        background-color: lightgray;
    }
}

.lastItem {
    margin-bottom: 18px;
}

.inputArea {
    padding: 8px;
    border: solid 1px darkcyan;
    border-radius: 6px;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}

.navItem {
    flex: 1
}

nav {
    background-color: #c1c0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
}

nav .logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

nav .logo i {
    margin-right: 10px;
}

nav .logo a {
    color: white;
}

nav .actions {
    display: flex;
    align-items: center;
}

nav .actions a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

nav .actions #logout {
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
}