<!DOCTYPE html>
<html lang="KR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>con-brief</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;700&family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>

    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
    <script src='{{url_for("static", filename="script.js")}}'></script>
</head>

<body>
    <div class='wrapper'>
        짜잔~
    </div>
</body>

</html>