<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> {{ errorMessage }} </h2>
    <form method="post">
        <label for="studentNo">수강생번호</label>
        <input type="text" name="studentNo" pattern="[0-9]*"><br>
        <label for="password">비밀번호</label>
        <input type="password" name="password">
        <button type="submit">로그인</button>
    </form>
    <a href="/signup">회원가입</button>
</body>
</html>