<div class="flex{{ style }}">
    <div>
        <label for="{{ item['name'] }}">
            {{ item['label'] }}
        </label>
        <span class='example'>
            {{ item['example'] }}
        </span>
    </div>
    <div class='lastItem flexVertical'>
        <div class='inputArea'>
            <input type="{{ item['type'] }}"
                name="{{ item['name'] }}"
                pattern="{{ item['pattern'] }}"
                placeholder="{{ item['placeholder'] }}"
            >
            {% if item['insideBtn'] %}
                {% set BTN_CONFIG = item['insideBtn'] %}     
                {% set onclickHandler = 'dupCheckFunc' %}        
                {% include 'components/button.html' %}
            {% endif %}

        </div>
        {% if errorMessage %}
            <span class='caution'>
                {{ errorMessage[item['name']] }}
            </span>
        {% endif %}

    </div>
</div>