<div class="flex{{ style }}">
    <div>
        <label for="{{ item['name'] }}">
            {{ item['label'] }}
        </label>
        <span class='example'>
            {{ item['example'] }}
        </span>
    </div>
    <div class='lastItem'>
        <input type="{{ item['type'] }}"
            name="{{ item['name'] }}"
            pattern="{{ item['pattern'] }}"
            placeholder="{{ item['placeholder'] }}"
        >
        {% if errorMessage %}
            <span class='caution'>
                {{ errorMessage[item['name']] }}
            </span>
        {% endif %}

    </div>
</div>