<div class="flex{{ style }}">
    
    {% if item['label'] %}
        <div>
            <label for="{{ item['name'] }}">
                {{ item['label'] }}
            </label>
            {% if item['example'] %}
                <span class='example'>
                    {{ item['example'] }}
                </span>
            {% endif %}
        </div>
    {% endif %}
    
    <div class='lastItem flexVertical'>
        <input type="{{ item['type'] }}"
            name="{{ item['name'] }}"
            pattern="{{ item['pattern'] }}"
            placeholder="{{ item['placeholder'] }}"
        >
        {% if errorMessage %}
            <span class='caution'>
                {{ errorMessage[item['name']] }}
            </span>
        {% endif %}

    </div>
</div>